---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = 'Brigalow Blog Page'
---
<BaseLayout pageTitle={pageTitle}>
<h2>Blogging using Astro </h2>
    <p>I am blogging on the Astro intro tutuorial</p>
    <p>This is where I will post my journey with Astro</p>

    <ul>
           {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
</BaseLayout>





